.navbar {
	width: 100%;
	height: 70px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar a{
	text-decoration: none;
}
.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
	width: 20%;
}
.navbar_buttons{
	width: 80%;
	justify-content: right-;
}
.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
.form{
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	margin-left: 50px;
}
.form_container {
	flex-direction: column;
	align-items: center;
}
.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}


.green_btn,
.red_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: #3bb19b;
	color: white;
	margin: 10px;
}

.red_btn {
	background-color: #f34646;
	color: white;
	margin: 10px;
}
.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}
.select{
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}
.text{
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #bef8e9;
	margin: 5px 0;
	font-size: 14px;
}
.radio,
.checkbox{
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}